<p> <id="notice"><%= notice %></p>
<h1>Welcome to our website</h1>
<h2>This website is a project made by students of Thapar Institute of Engineering and Technology</h2>
<h2>You can use it to check your stress level</h2>
<p>To assess your mental stress click
  <%= link_to "here", mental_path %>
</p>

<p>To assess your physiological stress click
  <%= link_to "here", phyisological_path %>
</p>
