<body style="background-color:#808080;">
  <h1 style="color:#001f3f; font-style:italic; font-family:georgia,garamond,serif; padding: 15px 50px 15px 100px;" >
    For evaluation of mental stress DASS test is performed
  </h1>
  <p  style="color:#001f3f; font-style:italic; font-family: Times New Roman,serif; padding: 0px 50px 0px 100px; font-size:20px" >
    Please click
    <a href="https://onlinegdb.com/CJicxd_Vo">here</a>
    to get redirected to code, press run(green button on top) and answer every question(black window at the bottom) asked to get you stress level<br><br>
    The following questions are asked in the test:<br>
    Please note that answer must be a number lying between 0 and 3<br>
    
  </p>
  <p  style="color:#001f3f; font-style:italic; font-family: Times New Roman,serif; padding: 0px 50px 0px 100px; font-size:18px" >
    1. I found myself getting upset by quite trivial things<br>
    2. I was aware of the dryness of my mouth<br>
    3. I couldn't seem to experience any positive feeling at all<br>
    4. I experienced breathing difficulty(e.g excessively rapid breathing, breathlessness in absence of physical exertion)<br>
    5. I just couldn't seem to get going<br>
    6. I tended to over-react to situations<br>
    7. I had a feeling of shakiness<br>
    8. I found it difficult to relax<br>
    9. I found myself in situations that made me so anxious I was most relieved when they ended<br>
    10. I felt that I had nothing to look forward to<br>
    11. I found myself getting upset rather easily<br>
    12. I felt that I was using a lot of nervous energy<br>
    13. I felt sad and depressed<br>
    14. I found myself getting impatient when I was delayed in any way(e.g, lifts, traffic lights, being kept waiting)<br>
    15. I had a feeling of faintness<br>
    16. I felt that I had lost interest in just about everything<br>
    17. I felt I wasn't worth much as a person<br>
    18. I felt that I was rather touchy<br>
    19. I perspired noticeably(e.g, hands sweaty) in the absence of high temperature or physical exertion<br>
    20. I felt scared without any good reason<br>
    21. I felt life wasn't worthwhile<br>
  </p>
</body>