<body style="background-color:#808080;">
  <h1 style="color:#001f3f; font-style:italic; font-family:georgia,garamond,serif; padding: 15px 50px 15px 100px;" >
    This part of project is to calculate Physiological stress
  </h1>
  <p style="color:#001f3f; font-style:italic; font-family: Times New Roman,serif; padding: 0px 50px 0px 100px; font-size:20px" >
    Please click
    <a href="https://onlinegdb.com/r1A1aY0nv">here</a>
    to get redirected to code, press run(green button on top) and answer every question(black window at the bottom) asked to get you stress level<br><br>
    The following questions are asked in the test:<br>
  </p>
  <p style="color:#001f3f; font-style:italic; font-family: Times New Roman,serif; padding: 0px 50px 0px 100px; font-size:18px" >
    
    1. Working Hours<br>
    2. Mintues Sedentary<br>
    3. Body Mass Index(BMI)<br>
    4. Mintues Lightly Active<br>
    5. Calories burned<br>
    6. Stress Level<br>
    7. Number of Awakenings<br>
    8. Calories intake<br>
    9. Time in Bed<br>
    10. Activity Calories<br>
    11. Minutes Asleep<br>
    12. Minutes Very Active<br>
    13. Minutes Fairly Active<br>
    14. Distance Travelled<br>
    15. Minutes Awake<br>
    16. Fat Burn<br>
    17. Resting Heart Rate<br>
    18. Cardio<br>
    19. Low Energy<br>
    20. Upset Stomach<br>
    21. Frequent Cold<br>
    22. Aches, pain and tense muscle<br>
  </p>
</body>